/* Styles for the HomePage container */
.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f0f2f5; /* Light gray background */
  }
  
  /* Banner with images */
  .banner {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .olympicImage {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
  }
  
  /* Container for search and filters */
  .searchArea {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding: 0 20px;
  }
  
  @media (min-width: 768px) {
    .searchArea {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }